@import url(https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic);

body {
    margin: 0;
    font-family: Noto Serif;
    font-style: italic;
    color: #643499;
    /*background: -webkit-linear-gradient(top, #DDC2D2, #DDC2D2 40%, #BFD298);*/
background-color:#F5ECF1;
background-image: 
radial-gradient(circle at 100% 150%, #F5ECF1 24%, white 25%, white 28%, #F5ECF1 29%, #F5ECF1 36%, white 36%, white 40%, transparent 40%, transparent),
radial-gradient(circle at 0    150%, #F5ECF1 24%, white 25%, white 28%, #F5ECF1 29%, #F5ECF1 36%, white 36%, white 40%, transparent 40%, transparent),
radial-gradient(circle at 50%  100%, white 10%, #F5ECF1 11%, #F5ECF1 23%, white 24%, white 30%, #F5ECF1 31%, #F5ECF1 43%, white 44%, white 50%, #F5ECF1 51%, #F5ECF1 63%, white 64%, white 71%, transparent 71%, transparent),
radial-gradient(circle at 100% 50%, white 5%, #F5ECF1 6%, #F5ECF1 15%, white 16%, white 20%, #F5ECF1 21%, #F5ECF1 30%, white 31%, white 35%, #F5ECF1 36%, #F5ECF1 45%, white 46%, white 49%, transparent 50%, transparent),
radial-gradient(circle at 0    50%, white 5%, #F5ECF1 6%, #F5ECF1 15%, white 16%, white 20%, #F5ECF1 21%, #F5ECF1 30%, white 31%, white 35%, #F5ECF1 36%, #F5ECF1 45%, white 46%, white 49%, transparent 50%, transparent);
background-size:100px 50px;
}
.container {
    margin: 0;
    padding: 0;
}
header {
    margin-top: 24px;
}
header img#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav {
    margin-bottom: 36px;
}
nav ul {
    padding: 0;
    text-align: center;
}
nav li {
    display: inline;
    padding-left: 10px;
}

article {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 280px;
}
section p, section h1, section h2, section h3 {
    text-align: center;
}

a {
    text-decoration: underline;
    color: #643499;
}
a:visited {
    color: #643499;
}
a:hover {
    background-color: #E3CBFF;
}

.left ul, .right ul {
    list-style: none;
}
.left {
    float: left;
    text-align: right;
    width: 49%;
    border-right: 1px solid #643499;
}
.left ul {
    margin-right: 10px;
}
.right {
    float: right;
    width: 50%;
}
.left ul {
    margin-left: 10px;
}
.right ul {
    padding-left: 0;
}

footer {
    margin-top: 24px;
}
